body{
    background-image: url(./background.jpg);
    font-family: 'cwtexyen';
    /*font-family: 'Noto Sans TC', sans-serif;*/
}
.header{
    display: flex;
    padding: 6px 10px;
    text-align: center;
    background-color: #fad;
    position: sticky;
    top: 0;
}
.header .logo{
    display: inline-block;
    padding: 5px 0;
}
.header .logo img{
    width: 50px;
    height: 45px;
}
.header nav{
    font-size: 0;
    width: 100%;
}
.header nav a{
    font-size: 25px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    line-height: 52px;
    padding: 0 10px;
}
.header nav a:hover{
    background-color: aquamarine;
}